<% @productions.reverse.each do |production| %>
<div class="production-basic">
<h2><%= link_to production.title, production_path(production) %></h2>
<p>$<%= production.contract %></p>
<p><%= production.client_name %></p>
</div>
<% end %>
