
<div class="production-wrapper horizontal-flex">
<% @productions.reverse.each do |production| %>
<div class="production-module">
<h2><%= link_to production.title, production_path(production) %></h2>
<h3>$<%= production.contract %></h3>
<h3 ><%= production.client_name %></h3>
</div>
<% end %>
</div>
