
<div class="client-wrapper horizontal-flex">
<% @clients.uniq.each do |client| %>

<div class="client-module">
    <h2><%= link_to client.name, client_path(client) %></h2>
    <h3><%= client.productions.count %></h3>
</div>

<% end %>
</div>