<h1 class="title">LML Production Agency</h1>

<h1><%= link_to "+", new_production_path %></h1>

<h2>Over <br><span class="big-number"><%= @productions.count %></span><br> productions, with <br><span class="big-number"><%=@clients.count %></span><br> clients.</h2>