* {
    box-sizing: border-box;
    padding: 5px;
    /* border: 1px solid black; */
}
nav a {
    color: black;
    font-size: large;
}
header {
    border-bottom: blue;
    border-bottom-style: double;
}
body {
    padding-left: 15vw;
    padding-right: 15vw;
}
.horizontal-flex {

    width: 75vw;
    display: flex;
    flex-wrap: wrap;
}
.vertical-flex {
    
    align-items: center;
    display: flex;
    flex-direction: column;
}
input[type="submit"] {
    width: 100px;
    color: white;
    border: none;
    background-color: #93c54b;
    padding: 30 px;

}
.title {
    text-align: center;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    font-variant-caps: titling-caps;
    font-weight: bolder;
    text-align: center;
}
h2 {
    background-color: white;
}

/* HOME PAGE */
span.big-number {
margin:40px;    
text-align: center;
    width:25vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15vw;
    font-weight: bold;
    color: #93c54b;

}


/* LOGIN & SIGNUP PAGE */
.user-submit {
    width: 150px;
}
#user-input {
    width: 150px;
}
form.login, form.signup > * {
    width: 150px;
}

/* PRODUCITONS INDEX */
.production-module {
    text-align: center;
    flex-basis: 35vw;
    margin-top: 10px;

}
/* CLIENTS INDEX */

.client-module {
    text-align: center;
    flex-basis: 35vw;
}


/* CLIENTS SHOW */
.client {
    font-size: 40px;
    font-weight: bolder;
    flex-basis: 20vw;
    align-self: flex-start;
}
.client-show-wrapper {
    border-bottom: blue;
    border-bottom-style: double;
}

/* PRODUCERS INDEX */

.producer-module {
    text-align: center;
    flex-basis: 35vw;
}
.label-tag {
    font-variant-caps: all-small-caps;
    font-weight: bolder;
    color: blue;
    
}